html
{
    /* test colors */
    --t1: #00FF00;
    --t2: #FFFF00;
    --t3: #00FFFF;
    --t4: #FF0000;
    --t5: #0000FF;
    --t6: #FF00FF;
    --t7: #AAAAAA;
    --t8: #FFAA00;
    --default-text-color: #000000;

    /* header colors */
    --header-background-color: rgb(121, 114, 255);
    --header-sign-in-button-color: #ddd;

    /* Footer Colors */
    --footer-background-color: rgb(121, 114, 255);
    --heap-footer-text-color: rgb(255, 255, 255);

}