html
{
    /* test colors */
    --t1: #00FF00;
    --t2: #FFFF00;
    --t3: #00FFFF;
    --t4: #FF0000;
    --t5: #0000FF;
    --t6: #FF00FF;
    --t7: #AAAAAA;
    --t8: #FFAA00;
    --default-text-color: #000000;


    --theme-color-1: #000;
    --theme-color-2: #3D5A80;
    --theme-color-3: #EE6C4D;
    --theme-color-4: #FFAD05;
    --theme-color-5: #FFf;
    /* header colors */
    --header-background-color: #3d5a80;
    --header-sign-in-button-color: #ddd;

    /* defaulr button color */
    --button-def-color: #rgb(0, 0, 0);
    --button-def-border: 2px solid red;

    /* Default text colors */
    --error-color: #F00;


    --button-dimension: 50px;

    /* Footer Colors */
    --footer-background-color: #3d5a80;
    --heap-footer-text-color: rgb(255, 255, 255);

}
