.siteHeader
{
    background-color: var(--header-background-color);
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 2px;
}

.rightSideOfHeader
{
 display: flex;  
 position: relative; 
}
.headerTitle
{
    text-align: center;
    width: fit-content;
    margin: 5px 0 0 0;
    font-size: 50px;
    /* background-color: red; */
    
}

.keoghLogoContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.headerLogo
{
    /* margin: 0 auto; */
    grid-area: 1 / 1 / 2 / 2;
    width: 90%;
    /* background-color: red; */
    margin: auto;

}

.signInContainer
{
    
    position: relative;
    height: fit-content;
    margin: auto 0 auto auto;
}

.signInInput
{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
    cursor: pointer;
}
.signInButton
{
    padding: 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--header-sign-in-color);
    font-size: 20px;
    border: none;
    cursor: pointer;
}