
#homeOptions {
    margin: 20px auto;
    width: 500px;
    border: 1px solid var(--default-text-color);
    padding: 20px;
    display: block;
    text-align: center;
}

#homeOptions h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

#homeOptions button:not(:last-child) {
    width: 250px;
}

#homeOptions button {
    
    /* background-color: var(--button-bg-default); */
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 25px;
    display: block;
    color: var(--button-def-color)
}

#homeOptions button:hover
{
    text-decoration: underline;
    border: var(--button-def-border);
}

#homeOptions button a 
{
    text-decoration: none;
}
#homeOptions button a:visited 
{
    color: var(--button-def-color)
}

