#fileUploadContainer
{
    /* background-color: var(--t1); */
    width: 50%;
    border: 2px solid black;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto;
    text-align: center;
}
#fileNameEcho
{
    text-decoration: none;
    font-weight: normal;
}
#showFileDataContainer
{
    visibility: hidden;
}
#dispalyValidationMessage
{
    font-weight: bold;
    color:var(--error-color);
}
#fileUploadButton
{
    visibility: hidden;
}
.no-interact
{
    background-color: rgb(235, 235, 235);
}
.gridCell
{
    width: var(--button-dimension);
    height: var(--button-dimension);
    margin:0px 0px 0 0;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 14px;
    color: white;
    text-align: center;
    border: 2px solid black;
}

.containerPresent 
{
    background-color: rgb(192, 89, 63);

}
.gridToggleButton.containerPresent:hover
{
    /* border: 3px solid rgb(163, 0, 0); */
    background-color: darkgoldenrod;
}
.unusable
{
    background-color: rgb(59, 59, 59);
}
.empty
{
    /* background-color: rgb(245, 240, 240); */
}

.gridRows
{
    width: fit-content;
    transform: rotate(180deg);
    display: flex;
    /* background-color: rgb(139, 139, 139);    */
}
.cargoGridDisplayContainer
{
    width: fit-content; 
    margin: auto;
    padding:2px;
    transform: rotate(180deg);
}
/* .rowNumbering
{
    font-size: 20px;
    margin-right:5px;
    vertical-align: ;
    font-weight: bold;
} */